Source: xorg-novena
Section: admin
Priority: optional
Maintainer: Sean Cross <sean@kosagi.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://kosagi.com/
Vcs-Git: git://github.com/xobs/xorg-novena.git
Vcs-Browser: https://github.com/xobs/xorg-novena

Package: xorg-novena
Architecture: all
Depends: ${misc:Depends}
Description: Configuration files for Xorg on Novena
 Novena has some special Xorg requirements.  Mostly, using a SW cursor.
